<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragment :: head(~{:: title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>

<br>
<br>
    <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <div class="content">
                            后台管理登录
                        </div>
                    </h2>
                    <form class="ui large form" action="#" th:action="@{/admin/login} " method="post">
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" placeholder="用户名">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="密码">
                                </div>
                            </div>
                            <button class="ui fluid large teal submit button">登录</button>
                        </div>

                        <div class="ui error mini message"></div>


                    </form>

                    <div class="ui message">
                        首次使用？<a href="#" class="register">点击注册</a>
                    </div>

                    <div class="ui success message" th:unless="${#strings.isEmpty(success_message)}" th:text="${success_message}"></div>

                    <div class="ui negative mini message" th:unless="${#strings.isEmpty(error_message)}" th:text="${error_message}"></div>

                </div>
            </div>
        </div>
    </div>

    <!--弹出层-->
    <div class="ui tiny modal">
        <div class="header">请填写如下信息进行注册</div>
        <!--from表单-->
        <div class="content">
            <!--<p>这里添加from表单</p>-->
            <form class="ui reg form" method="post" th:action="@{/admin/register}">
                <div class="required field">
                    <label>Username</label>
                    <input type="text" id="name" name="username" placeholder="Username">
                </div>
                <div class="required field">
                    <label>Email</label>
                    <input type="text" id="email" name="email" placeholder="Email">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="password" id="password" name="pwd" placeholder="Password">
                </div>
                <div class="required field">
                    <label>Confirm Password</label>
                    <input type="password" id="confirm" name="confirm" placeholder="Confirm Password">
                </div>

                <button class="ui teal button" type="submit">注册</button>
                <button class="ui cancel red button" type="button">取消</button>
                <div class="ui error mini message"></div>

            </form>

        </div>

<!--        <div class="actions">-->
<!--            <div class="ui approve teal button">注册</div>-->
<!--            <div class="ui cancel red button">取消</div>-->
<!--        </div>-->

    </div>

    <script>

        $('.ui.form').form({
            fields: {
                username: {
                    identifier:'username',
                    rules:[{
                        type:'empty',
                        prompt:'请输入用户名'
                    }]
                },
                password: {
                    identifier:'password',
                    rules:[{
                        type:'empty',
                        prompt:'请输入密码'
                    }]
                }
            }
        });

        //关闭弹出层
        $('.cancel').click(function () {
            $('.dimmer.modals').click();
        });

        //注册管理员账号，弹出层注册页面
        $(".register").click(function () {
            $('.tiny.modal')
                .modal('show');
        });

        $('.ui.reg.form').form({
            fields: {
                username: {
                    identifier:'username',
                    rules:[{
                        type:'empty',
                        prompt:'用户名输入错误'
                    }]
                },
                email: {
                    identifier:'email',
                    rules:[{
                        type:'email',
                        prompt:'邮箱输入错误'
                    }]
                },
                password: {
                    identifier:'pwd',
                    rules:[{
                        type:'empty',
                        prompt:'密码输入错误'
                    }]
                },
                confirm: {
                    identifier:'confirm',
                    rules:[{
                            type: 'empty',
                            prompt:'确认密码输入错误'
                        },
                        {
                            type:'match[password]',
                            prompt:'两次密码不匹配'
                    }]
                }
            }
        });

    </script>
</body>
</html>