<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragment :: head(~{:: title})">
    <meta charset="UTF-8">
    <title>密码修改</title>
</head>
<body>
<nav th:replace="admin/_fragment :: nav(-1)"></nav>

<div class="m-padded-tb-huge m-container-small">
    <div class="ui container m-padded-lr-responsive">

        <div class="ui tiny negative message" th:if="${err_message} != null">
            <i class="close icon"></i>
            <p th:text="${err_message}"></p>
        </div>
        <div class="ui tiny success message" th:if="${success_message} != null">
            <i class="close icon"></i>
            <p th:text="${success_message}"></p>
        </div>

        <form class="ui form" method="post" th:action="@{/admin/password}">
            <h2 class="ui dividing header">密码修改</h2>
            <div class="required field">
                <lable>旧密码</lable>
                <input type="text" name="oldPassword">
            </div>
            <div class="required field">
                <lable>新密码</lable>
                <input type="password" name="newPassword">
            </div>
            <div class="required field">
                <lable>确认新密码</lable>
                <input type="password" name="confirmPassword">
            </div>
            <button class="ui teal button" type="submit">修改</button>
            <div class="ui error mini message"></div>
        </form>
    </div>
</div>

<footer th:replace="admin/_fragment :: footer"></footer>

<script>
    $('.ui.form').form({
        fields: {
            oldPassword: {
                identifier:'oldPassword',
                rules:[{
                    type:'empty',
                    prompt:'请输入密码'
                }]
            },
            newPassword: {
                identifier:'newPassword',
                rules:[{
                    type:'empty',
                    prompt:'请输入新密码'
                }]
            },
            confirmPassword: {
                identifier:'confirmPassword',
                rules:[
                    {
                        type:'empty',
                        prompt:'请输入确认密码'
                    },
                    {
                        type:'match[newPassword]',
                        prompt:'确认密码和新密码不相同'
                    }
                ]
            }
        }
    });

    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;

    $('.ui.dropdown').dropdown({
        on:'hover'
    });
</script>
</body>
</html>